/* HEADING */
.Header h1 {
  font-family: tiki;
  font-size: 3vw;
  color: rgb(144, 192, 245);
  margin-top: 1.5rem;
}

/* FONT */
@font-face {
  font-family: "tiki";
  src: url("../../../assets/fonts/tiki.ttf") format("truetype");
}

@media (max-width: 992px) {
  /* styles for smaller screens */
  .Header h1 {
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  /* styles for smaller screens */
  .Header h1 {
    font-size: 1.5rem;
  }
}
