.Vacations {
  background-image: url("../../../assets/images/travel.jpg");
  background-size: cover;
  height: 100vh;
}

.Card {
  margin: 1.5rem;
}

.vacationCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
