.VacationsReport {
  background-image: url("../../../assets/images/travel.jpg");
  background-size: cover;
  height: 100vh;
}

.VacationsReportContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chart {
  background-color: rgba(255, 255, 255, 0.7);
}
