.button {
  color: rgb(144, 192, 245);
  text-decoration: underline;
}

.Register {
  margin-top: -6%;
}

@media (max-width: 500px) {
  /* styles for smaller screens */
  .Register {
    margin-top: -22%;
  }
}

@media (max-width: 1000px) {
  /* styles for smaller screens */
  .Register {
    margin-top: -15%;
  }
}
