.label-large {
  font-size: 1.1rem;
  font-weight: bold;
}

.preview {
  display: block;
  width: 80%;
  height: auto;
  margin: 1em 0 0 6em;
  border-radius: 20%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}
